#para1{
    font-size: 25px;
}
#lblloan{
    font-size: 25px;
}
#para2{
    font-size: 25px;
}
#lblyear{
    font-size: 25px;
}
#para3{
    font-size: 25px;
}
#lblrate{
    font-size: 25px;
}
.succuss{
    border: 2px solid black;
    box-shadow: 3px 3px 3px 3px gray;
}